body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
/* ------Side Banner------*/
.side_banner{ 
    width: 30vw;
    background-image: url(../Image/backgroundsidebar.jpg);
    background-size: cover;
}
header{
    height: 90vh;
    width: 100%;
    padding: 10px;
}
h1{
    text-align: center;
}
h2{
    font-size: 5vh;
    text-align: center;
    align-self: center;
    box-shadow: 3px 3px 10px grey;
    height: 10vh;
    width: 100%;
}
h3{
    font-size: 3vh;
    height: 10vh;
}
.presentation{
    display: none;
}
.profil{
    height: 80%;
    width: 70%;
    text-align: justify;
}
.profil>p{
    padding: 0px 20px 0px 20px;
}
.profil_picture{
    object-fit: cover;
    width: 60%;
    height: 30%;
    border-radius: 200px;
    box-shadow: 3px 7px 10px white;
}
.banner_nav{
    height: 50%;
    width: 100%;
}
nav.banner_nav > ul{
    height: 100%;
    width: 100%;
}
nav.banner_nav > ul >li{
    height: 10vh;
}
nav.banner_nav > ul >li:hover{
    border-radius: 15px;
    box-shadow: 3px 3px 10px white;
    transition: box-shadow 0.5s;
}
nav.banner_nav > ul > li > a{
    font-size: 4vh;
}
.main_profil{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100vh;
    background-color: white;
    /* display: none; */
    /* animation: main 5s linear forwards; */
}
footer{
    background-color: white;
    height: 10vh;
}
footer>a>img{
    object-fit: contain;
}
.footer2{
    display: none;
}
.footer2>a>img{
    object-fit: contain;
}
.img_footer{
    width: 3vw;
    height: 6vh;
}
.contact_container{
    height: 90%;
}
.contact_container p{
    font-size: 3vh;
}
.container_principal_skills{
    height: 90%;
}
.container_skills{
    height: 50%;
}
.sous_container_skills{
    height: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.container_skills p{
    height: 15%;
}

/*loader*/
.loader_waiting{
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    position: relative;
    /* animation: loader_waiting 1.5s linear forwards; */

}
/*
.loader{
    height: 50vh;
    width: 50%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: -1;
    animation: loader 1.5s linear forwards;
}
.loader_container{
    height: 40vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader_img{
    background-image: url(../Image/loader_commerce.png);
    background-size: cover;
    height: 40%;
    width: 40%;
    animation: loader_img 1.5s linear forwards;
}
.loader_charge{
    height: 10%;
    width: 75%;
    display: flex;
    align-items: center;
}
.loader_charge_bar{
    display: flex;
    justify-content: flex-start;
    background-color: black;
    border-radius: 50px;
    height: 50%;
    width: 0%;
    animation: loader_charge_bar 1.5s linear  forwards;
} */
@keyframes loader_img{
    from{
        background-image: url(../Image/loader/loader_commerce.png)
    }
    15%{
        background-image: url(../Image/loader/loader_commerce.png)
    }
    20%{
        background-image: url(../Image/loader/loader_globetrotter.png)
    }
    35%{
        background-image: url(../Image/loader/loader_globetrotter.png)
    }
    40%{
        background-image: url(../Image/loader/loader_barman.png);
    }
    55%{
        background-image: url(../Image/loader/loader_barman.png);
    }
    60%{
        background-image: url(../Image/loader/loader_livraison.png);
    }
    75%{
        background-image: url(../Image/loader/loader_livraison.png);
    }
    80%{
        background-image: url(../Image/loader/loader_ordi.png);
    }
    to{
        background-image: url(../Image/loader/loader_ordi.png);
    }
}
@keyframes loader_charge_bar{
    from{width: 0%;}
    to{width: 100%}
}
@keyframes loader{
    from{z-index: 10;}
    99%{z-index: 10;}
    to{z-index: 0;}
}
@keyframes loader_waiting{
    from{z-index: -10;}
    99%{z-index: 0;}
    to{z-index: 1;}
}


@media screen and (max-width: 1024px){
    body{
        display: flex;
        flex-direction: column;
        height: 300vh;
    }
    .side_banner{
        width: 100vw;
        height: 100vh
    }
    .profil_picture{
        height: 30%;
        width: 50%;
    }
    .img_footer{
        width: 11vw;
        height: 6vh;
    }
    .title{
        width: 100vw;
        justify-content: space-around;
    }
    .side_banner>footer{
        display: none;
    }
    .footer2{
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        height: 15vh;
        box-shadow: 3px 3px 10px black;
    }
    main{
        height: 200vh ;
    }
    .loader_waiting{
        animation:none;
    }
    .loader{
        animation: none;
    }
    .profil{
        width: 100%;
        height: 70%;
        text-align: center;
    }

}
